* {
  margin: 0;
  border: 0;
}

#container {
  background-color: #ccc;
  position: relative;
  width: 100%;
  height: 100vh;
}

#main {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 85%;
  left: 0;
  top: 0;
}

#thumbnails {
  background-color: #000;
  position: absolute;
  width: 100%;
  overflow: auto;
  height: 15%;
  left: 0%;
  top: 85%;
  font-size: 0;
  text-align: center;
}

.wrapper, .thumbnail-wrapper {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-size: 0;
}

.wrapper-child, .thumbnail-wrapper-child {
  position: relative;
  display: inline-block;
  height: 100%;
}

img{
  height: 100%;
  display:block;
}

#thumbnails img {
  border-width: 2px 1px;
  border-style: solid;
  border-color: #000;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#left-arrow, #right-arrow {
  position: absolute;
  bottom: calc(50% - 25px);
  line-height: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 30px;
  z-index: 2;

}

#left-arrow {
  float: left;
  left: 2%;
}

#right-arrow {
  float: right;
  right: 2%;
}
