* {
  margin: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#header {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing: 3px;
  padding: 2%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 15%;
}

#container {
  background-color: #fff;
  position: relative;
  left: 10%;
  top: 0;
  width: 80%;
  height: 80%;
}

#main {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 85%;
  left: 0;
  top: 0;
}

#thumbnails {
  background-color: #fff;
  position: absolute;
  width: 100%;
  overflow: auto;
  height: 15%;
  left: 0%;
  top: 85%;
  font-size: 0;
  text-align: center;
}

.wrapper, .thumbnail-wrapper {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-size: 0;
}

.wrapper-child, .thumbnail-wrapper-child {
  position: relative;
  display: inline-block;
  height: 100%;
}

.wrapper-child {
  margin-left: 10px;
  margin-right: 10px;
}

img{
  height: 100%;
  display:block;
}

#thumbnails img {
  border-width: 2px 1px;
  border-style: solid;
  border-color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#left-arrow, #right-arrow {
  border: solid 1px #aaa;
  color: #aaa;
  background-color: rgba(250, 250, 250, 0.1);
  position: absolute;
  bottom: calc(50% - 20px);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 20px;
  z-index: 2;
}

#left-arrow:hover, #right-arrow:hover {
  border: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

#left-arrow {
  left: 2%;
}

#right-arrow {
  right: 2%;
}
